{% extends 'base.html.twig' %}

{% block title %}Organizations index{% endblock %}

{% block body %}
    <h1>Organizations index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Street</th>
                <th>Zipcode</th>
                <th>City</th>
                <th>Country</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for organization in organizations %}
            <tr>
                <td>{{ organization.id }}</td>
                <td>{{ organization.name }}</td>
                <td>{{ organization.street }}</td>
                <td>{{ organization.zipcode }}</td>
                <td>{{ organization.city }}</td>
                <td>{{ organization.country }}</td>
                <td>
                    <a href="{{ path('app_organizations_show', {'id': organization.id}) }}">show</a>
                    <a href="{{ path('app_organizations_edit', {'id': organization.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_organizations_new') }}">Create new</a>
{% endblock %}
